AutoLot_DAL_Core2/AutoLotDAL_Core2.Models/bin
AutoLot_DAL_Core2/AutoLotDAL_Core2.Models/obj
AutoLot_DAL_Core2/AutoLotDAL_Core2.TestDriver/bin
AutoLot_DAL_Core2/AutoLotDAL_Core2.TestDriver/obj
AutoLot_DAL_Core2/AutoLotDAL_Core2/bin
AutoLot_DAL_Core2/AutoLotDAL_Core2/obj
AutoLotDAL_Core2/.vs/
AutoLotMVC_Core2/.vs/
